body #root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top {
  margin: 32px 0;
}

.App-body {
  width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.pesquisa {
  margin-bottom: 14px;
}

.App-link {
  color: #61dafb;
}

.title {
  color: #a291fb;
}

.title .icone {
  margin-left: 6px;
}

img {
  max-height: 200px;
}

.botao {
  margin-bottom: 24px;
}

.cardGroup {
  justify-content: center;
}

.cardHeader {
  font-size: 1.8rem !important;
}

.cardMeta {
  font-size: 1.3rem !important;
}

.cardDesc {
  font-size: 1rem !important;
}